body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #fff1e3;
    color: #333;
}

/* Encabezado */
.Header {
    background-image: linear-gradient(rgba(206, 163, 111, 0.9), rgba(195, 154, 110, 0.9)), url("../img/Copia de La Rosetta Banner.jpg");
    background-size: cover;
    background-position: center;
    padding: 2rem 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Header h1 {
    margin: 0 0 10px 0;
    font-size: 64px;
    font-family: 'Lobster', Arial, sans-serif;
    color: #875626;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

.Header h4 {
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
    color: #fffae3;
    margin: 10px 0 5px 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.Header p {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    color: #fffae3;
    max-width: 800px;
    margin: 2px 0;
}

.Contenidos {   
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 2rem;  
    background-color: #fff8f0;
    margin: 2rem;
    border-radius: 10px;
}

.Menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
}

.Menu img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out; 

}

img:hover {
    transform: scale(1.05);
    cursor: pointer;
}


.Menu h2 {
    font-size: 24px;
    text-align: center;
    margin: 0;
}

.Menu p {
    font-size: 18px;
    text-align: center;
    margin: 0;
}

.BContenido {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #875626;  
    width: auto;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.BContenido:hover {
    background-color: #6d451f;
    transform: scale(1.05);
}

.conoces {
    display: flex;
    flex-direction: row;
    gap: 40px;
    background-image: url("../img/Designer.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 40px;
    margin: 2rem; 
    border-radius: 10px;
    align-items: center; 
}

.conoces img {
    width: auto; 
    height: 450px; 
    border-radius: 10px;
    object-fit: fill; 
    transition: transform 0.3s ease-in-out;
}


.conoces h1 {
    text-align: center;
    font-size: 60px; 
    margin-bottom: 20px;
    color: #f9f9f9;
    text-shadow: #333 2px 2px 4px;
    font-family: 'Lobster', Arial, sans-serif;
}

.conoces p {
    text-align: center;
    font-size: 25px;
    color: #f9f9f9;
    margin-bottom: 25px;
    line-height: 1.6;
}

.BConoces {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #875626;  
    width: auto;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    text-align: center;
}

.BConoces:hover {
    background-color: #6d451f;
}

